body {
    background-color: #d9d9d9;
}

content {
    background-color: white;
    padding: 10px 15px;
    border-radius: 10px;
}

aside {
    height: 150px;
    background-color: white;
    border-radius: 10px ;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    justify-content: space-between;
    align-self: flex-start;
}